---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    name: sandbox-staging-external-secrets
    namespace: argocd
    annotations:
        argocd.argoproj.io/sync-wave: "5"
        argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
    project: default
    source:
        repoURL: https://charts.external-secrets.io
        chart: external-secrets
        targetRevision: 0.9.11
        helm:
            releaseName: external-secrets
            values: |
                serviceAccount:
                  create: false
                  name: external-secrets
    destination:
        name: sandbox-staging
        namespace: external-secrets
    syncPolicy:
        automated:
            prune: true
            selfHeal: true
        syncOptions:
            - CreateNamespace=true
