apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    name: cert-manager
    namespace: argocd
    annotations:
        argocd.argoproj.io/sync-wave: "10"
spec:
    project: default
    source:
        repoURL: "https://charts.jetstack.io"
        chart: cert-manager
        targetRevision: "v1.19.1"
        helm:
            values: |
                installCRDs: true
                serviceAccount:
                  create: true
                  name: cert-manager
                  annotations:
                    eks.amazonaws.com/role-arn: "arn:aws:iam::586549104403:role/AwsFelderaCloudDnsAccess"
                prometheus:
                  enabled: true
    destination:
        server: https://kubernetes.default.svc
        namespace: cert-manager
    syncPolicy:
        automated:
            prune: true
            selfHeal: true
        syncOptions:
            - CreateNamespace=true
