# apps/tailscale.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    name: tailscale-operator
    namespace: argocd
    annotations:
        argocd.argoproj.io/sync-wave: "10"
spec:
    project: default
    sources:
        - repoURL: "https://pkgs.tailscale.com/helmcharts"
          chart: tailscale-operator
          targetRevision: "1.90.5"
          helm:
              values: |
                  oauth: {}
                  operatorConfig:
                    defaultTags: "tag:ci-eks-operator,ci-k8s"
                  proxyConfig:
                    defaultTags: "tag:ci-k8s"
                  apiServerProxyConfig:
                    mode: "true"
                    allowImpersonation: "true"
    destination:
        server: https://kubernetes.default.svc
        namespace: tailscale
    syncPolicy:
        automated:
            prune: true
            selfHeal: true
        syncOptions:
            - CreateNamespace=true
