apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
    name: argocd-cert
    namespace: argocd
    annotations:
        argocd.argoproj.io/sync-wave: "20"
spec:
    secretName: argocd-tls
    issuerRef:
        name: letsencrypt-argocd
        kind: ClusterIssuer
    dnsNames:
        - argocd.abhizer.feldera.io
