apiVersion: v1
kind: ConfigMap
metadata:
    name: aws-auth
    namespace: kube-system
data:
    mapRoles: |
        - rolearn: arn:aws:iam::905418091519:role/argocd-staging-access
          username: system:node:argocd-staging
          groups:
            - system:masters
