apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
    name: aws-secrets-manager
    namespace: external-secrets
    annotations:
        argocd.argoproj.io/sync-wave: "10"
        argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
    provider:
        aws:
            service: SecretsManager
            region: us-west-1
            auth:
                jwt:
                    serviceAccountRef:
                        name: external-secrets
                        namespace: external-secrets
