apiVersion: v1
kind: Namespace
metadata:
    name: external-secrets
---
apiVersion: v1
kind: ServiceAccount
metadata:
    name: external-secrets
    namespace: external-secrets
    labels:
        app.kubernetes.io/name: external-secrets
        app.kubernetes.io/component: controller
    annotations:
        eks.amazonaws.com/role-arn: arn:aws:iam::905418091519:role/eks-external-secrets-argocd-cluster
        eks.amazonaws.com/sts-regional-endpoints: "true"
        argocd.argoproj.io/sync-wave: "0"
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    name: argocd-external-secrets
    namespace: argocd
    annotations:
        argocd.argoproj.io/sync-wave: "5"
        argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
    project: default
    source:
        repoURL: https://charts.external-secrets.io
        chart: external-secrets
        targetRevision: 0.9.11
        helm:
            releaseName: external-secrets
            values: |
                serviceAccount:
                  create: false
                  name: external-secrets
    destination:
        name: in-cluster
        namespace: external-secrets
    syncPolicy:
        automated:
            prune: true
            selfHeal: true
        syncOptions:
            - CreateNamespace=true
