apiVersion: v1
kind: Namespace
metadata:
    name: tailscale
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
    name: operator-oauth
    namespace: tailscale
    annotations:
        argocd.argoproj.io/sync-wave: "1"
spec:
    refreshInterval: "1h"
    secretStoreRef:
        name: aws-secrets-manager
        kind: ClusterSecretStore
    target:
        name: operator-oauth
        creationPolicy: Owner
    data:
        - secretKey: client_id
          remoteRef:
              key: ts-credentials
              property: TS_CLIENT_ID
        - secretKey: client_secret
          remoteRef:
              key: ts-credentials
              property: TS_CLIENT_SECRET
