apiVersion: v1
kind: Namespace
metadata:
    name: external-secrets
---
apiVersion: v1
kind: ServiceAccount
metadata:
    name: external-secrets
    namespace: external-secrets
    labels:
        app.kubernetes.io/name: external-secrets
        app.kubernetes.io/component: controller
    annotations:
        eks.amazonaws.com/role-arn: arn:aws:iam::905418091519:role/eks-external-secrets-staging-cluster-20251116145101170100000002
        eks.amazonaws.com/sts-regional-endpoints: "true"
        argocd.argoproj.io/sync-wave: "0"
---
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
    name: aws-secrets-manager
    namespace: external-secrets
    annotations:
        argocd.argoproj.io/sync-wave: "10"
        argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
    provider:
        aws:
            service: SecretsManager
            region: us-west-1
            auth:
                jwt:
                    serviceAccountRef:
                        name: external-secrets
                        namespace: external-secrets
