# apps/external-secrets/aws-external-secrets.yaml
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
    name: ts-credentials-external-secret
    namespace: argocd # Namespace where your app is deployed
spec:
    refreshInterval: 1h # ESO will update the K8s Secret automatically
    secretStoreRef:
        name: aws-secret-store
        kind: ClusterSecretStore
    target:
        name: ts-credentials # Name of the final K8s Secret
    data:
        - secretKey: TS_CLIENT_ID # Key in the K8s Secret
          remoteRef:
              key: ts-credentials # Name of the secret in AWS Secrets Manager
              property: TS_CLIENT_ID # Key within the AWS secret
        - secretKey: TS_CLIENT_SECRET # Key in the K8s Secret
          remoteRef:
              key: ts-credentials # Name of the secret in AWS Secrets Manager
              property: TS_CLIENT_SECRET # Key within the AWS secret
