apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
    name: aws-secrets-manager
    namespace: external-secrets
spec:
    provider:
        aws:
            service: SecretsManager
            region: us-west-1
            auth:
                jwt:
                    serviceAccountRef:
                        name: external-secrets
                        namespace: external-secrets
