apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    name: external-secrets-crds
    namespace: argocd
    annotations:
        argocd.argoproj.io/sync-wave: "-10" # Very early sync
spec:
    project: default
    source:
        repoURL: https://github.com/external-secrets/external-secrets
        targetRevision: v0.9.11
        path: deploy/crds
        directory:
            recurse: true
    destination:
        server: https://kubernetes.default.svc
        namespace: external-secrets
    syncPolicy:
        automated:
            prune: true
            selfHeal: true
        syncOptions:
            - CreateNamespace=true
            - ServerSideApply=true
            - SkipDryRunOnMissingResource=true
