# apps/external-secrets/external-secrets-operator.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    name: external-secrets-operator
    namespace: argocd
    annotations:
        argocd.argoproj.io/sync-wave: "-5" # Deploy first
spec:
    project: default
    source:
        repoURL: https://charts.external-secrets.io
        targetRevision: 0.9.11
        chart: external-secrets
        helm:
            releaseName: external-secrets-operator
    destination:
        server: https://kubernetes.default.svc
        namespace: external-secrets
    syncPolicy:
        automated:
            prune: true
            selfHeal: true
        syncOptions:
            - CreateNamespace=true
