apiVersion: v1
kind: ServiceAccount
metadata:
    name: external-secrets
    namespace: external-secrets
    labels:
        app.kubernetes.io/name: external-secrets
        app.kubernetes.io/component: controller
    annotations:
        eks.amazonaws.com/role-arn: arn:aws:iam::905418091519:role/eks-external-secrets-argocd-cluster
        eks.amazonaws.com/sts-regional-endpoints: "true"
