apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
    name: operator-oauth
    namespace: tailscale
    annotations:
        argocd.argoproj.io/sync-wave: "1"
spec:
    refreshInterval: "1h"
    secretStoreRef:
        name: aws-secrets-manager
        kind: ClusterSecretStore
    target:
        name: operator-oauth
        creationPolicy: Owner
    data:
        - secretKey: TS_CLIENT_ID
          remoteRef:
              key: ts-credentials
              property: TS_CLIENT_ID
        - secretKey: TS_CLIENT_SECRET
          remoteRef:
              key: ts-credentials
              property: TS_CLIENT_SECRET
